PORT=5001
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb+srv://madhu:Madhu%233134@cluster0.j7xazhb.mongodb.net/?retryWrites=true&w=majority
DB_NAME=ecommerce_admin

CLOUDINARY_CLOUD_NAME=<cloud_name>
CLOUDINARY_API_KEY=<api_key>
CLOUDINARY_API_SECRET=<api_secret>
# JWT Configuration (Required for Authentication)
JWT_SECRET=change_this_to_a_strong_random_string_in_production
JWT_EXPIRE=7d
